.sidebar {
    width: 190px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: #18191a;
    padding: 15px;
}

.sidebar-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.profile-circle {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: #3b82f6;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-weight: bold;
    font-size: 1rem;
}

.sidebar-header h2 {
    color: white;
    font-size: 1.2rem;
    margin: 0;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu li {
    margin-bottom: 8px;
}

.sidebar-menu a {
    display: flex;
    align-items: center;
    gap: 12px;

    padding: 10px 12px;

    text-decoration: none;
    color: white;

    font-size: 1rem;
    font-weight: 500;

    border-radius: 8px;
    transition: background 0.3s;
}

.sidebar-menu a:hover {
    background: #303134;
}

.icon {
    font-size: 1.2rem;
    min-width: 20px;
}